.img_size {
    width: 400px;
    height: 290px;
}

.buy_button {
    width: 100px;
}

#cart {
    display: flex;
    width: 900px;
    height: 400px;
    margin: 0 auto;
    background-color: #91ddc4;
    border: 1px solid #a8b8b2;
}

#cart_left_part {
    width: 600px;
}

#checkout_button {
    width: 100px;
}

#total {
    display: flex;
}

.image_in_cart {
    width: 100px;
}

span {
    cursor: pointer;
}